

.footer {
    background-color: $ui-footer-color-eggplant;
    
    &__wrapper {
    
        min-height: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        
        
        &-copy {
            color: #F8FDFE;    
            font-size: 16px;    
            font-weight: 400;
            line-height: 1.5;
        }

        &-all-rights {
            color: #F8FDFE;    
            font-size: 16px;    
            font-weight: 400;
            line-height: 1.5;
        }
            
    }

}


