

.header-fixed {
    position: fixed;
    width: 100%;
    z-index: 1;

    .header-fixed__green-bg {        
        background-color: #10BBD5;
        width: 100%; 
    }    
    
    .header-fixed__green-bg-logo-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: inherit;
        height: 72px;
    }
    
    .header-fixed__green-bg-logo-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        &-price {
            color: #F8FDFE;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
        }    
    }
    
    .cart-button {
        position: relative;
        background-image: url('../../images/cart_icon.png');
        height: 40px;
        width: 40px;
        background-color: inherit;
        background-position: center center;
        background-size: contain;
        cursor: pointer;
        border-style: none;
        
        &__span {
            position: absolute;
            background-color: #F8FDFE;
            top: 12px; 
            left: 30%;  
            transform: translateX(50%);
            padding: 0 2px;
            
            color: #000;  
            font-family: 'Cabin';
            font-size: 12px;
            font-weight: 400;
            line-height: 10px; 
        }       
    }
       
    
    .header-fixed__white-bg {
        background-color: #FFFFFF;
        
    }
    
    .header-fixed__white-bg-nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: inherit;
        height: 32px;

        &-title {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
        }
    
    }
    
    .header-fixed__white-bg-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 40px;
        
        &-item {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
        }
    }
   
}
