

.main {

    padding-top: 94px;
    background-color: #EEEEEF;
    position: relative;


    .main__chat-button {
        position: fixed;
        height: 64px;
        width: 64px;
        top: 50%;
        right: 0;
        z-index: 2;
        border-style: none;
        background-color: rgba(255, 255, 255, 0);
        background-image: url('../../images/Chat-btn-bg.svg');
        
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;    
    }

    .main__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 95px;         
        border-bottom: 1px solid #A8A8A8;
        color: #1F1F1F;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.25;
    }
    
    .main__grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 512px;
        gap: 24px;
        padding: 24px 0 120px 0;
        position: relative;    
    
    
        .card {
            display: flex;
            flex-direction: column;
            padding: 32px;
            background-color: #F8FDFE;
            min-width: 306px;
                        
            
            .card__image-box {
                position: relative;
                display: flex;
                justify-content: center;
                height: 328px;
                border-bottom: 1px solid #8E8E8E;
                height: 72%;
    
    
                img {
                display: block;
                width: 100%;
                height: 280px;
                     
                } 
    
                .card__title {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    
                    color: #1F1F1F;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.4; 
    
                }

                .card__label-box {
                    display: flex;
                    position: absolute;
                    top: 0;
                    left: 0;
                    gap: 4px;
                       
                    justify-content: center;
                    align-items: center;
                    
                    .card__label {
                        display: block;
                        min-height: 32px;
                        min-width: 36px;
                        border-radius: 4px;
                        padding: 4px 8px;

                        color: #F8FDFE;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.5;              
                    }
                
                    .card__label--hit {                        
                        background-color: #4200FF;
                        
                       
                    }
                    
                    .card__label--new {                       
                        background-color: #AF39E7;
                        
                    }
                    
                    .card__label--discount {                        
                        background-color: #EA33C0;
                        
                    }   
                
                }
                
            }     
        
            .card__content-box {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: start;
                height: 28%;  
            
        
                .card__author {
                    overflow: hidden;
                    color: #8E8E8E;
                    text-overflow: ellipsis;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    margin-bottom: 8px;
                }
                
                .card__price-box {
                    display: flex;
                    column-gap: 24px;
                                     
                    .card__price { 
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 32px;    
                        color: #E90000;
                    }
                    
                    .card__price--discount {
                        color: #8E8E8E;
                        text-decoration: line-through;    
                    }
                    
                }
                
                
                
                
                .card__button {
                    position: absolute;
                    bottom: 0; 
                    align-self: center;   
                    display: flex;    
                    width: 100%;
                    
                    border-radius: 4px;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 24px;
                    
                    font-size: 16px;    
                    font-weight: 400;
                    line-height: 24px;    
                    color: $ui-btn-font-color-white;
                    
                }
                
                .card__button--1 {
                    background-color: $ui-btn-color-eggplant;
                }
                
                .card__button--2 {
                    background-color: $ui-btn-color-green;
                }
        
            
            }

        }
       
    }
}




